@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap");
body {
  font-family: "Baloo Tamma 2", cursive;
}
* {
  margin: 0;
  padding: 0;
}
/* navigation bar styling */
.nav {
  background: #dee3de;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* overide materilise css default bottom padding */
.row {
  margin-bottom: none;
}

/* style for image search tags */
.tags {
  background: #d3d3d3;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.3s ease-in-out;
}

.tags:hover {
  /* box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px; */
  transform: translate3d(0px, -5px, 0px);
  cursor: pointer;
}
.tags-holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* image search area styling */
.wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/bg.jpg") no-repeat center center/cover;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_box {
  width: 50%;
  position: relative;
}

.search_box input[type="text"] {
  width: 100%;
  padding: 20px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  outline: none;
}

.lead-search {
  color: #fff;
}

.search_box input[type="text"]:focus {
  border-bottom: 2px solid #fff !important;
  box-shadow: none !important;
}

.fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  color: #fff;
  font-size: 25px;
}

/* Notification style */
.notify {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  box-sizing: border-box;
  transition: height 0.2s;
}

/* image search results styling */
.image-container {
  background: #dee3de;
  overflow-x: hidden;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-holder {
  overflow: hidden;
  position: relative;
  padding: 1rem;
  transition: 0.6s ease-out;
}

.image-holder img {
  cursor: pointer;
  width: 100%;
  height: 250px;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s;
}

.image-holder:hover img {
  transform: scale(1.1);
}

.image-holder:hover .info {
  visibility: visible;
  opacity: 1;
}

.info {
  padding: 0.2rem;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.2s, visibility 0.2s;
}

.info-secondary {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-secondary p {
  padding: 0.4rem;
}

@media screen and (max-width: 425px) {
  .search_box {
    width: 100%;
  }
}

/* image details page styling */

.full-image img {
  cursor: pointer;
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
.imageDetails-wrapper {
  padding: 1rem 2rem 1rem;
  background: #f0f0f0 no-repeat center center/cover;
  background-attachment: fixed;
}

.image-details {
  /* width: 100%; */
  /* padding: 2rem !important; */
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: seashell;
}
.profile {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.imageDetails-wrapper p {
  font-size: 20px;
}
.profile div {
  padding: 0 0.2rem 0;
}

.bio {
  padding: 1rem;
  margin-top: 1rem;
  /* border-bottom: 3px green solid; */
}
.profile p {
  font-size: 25px;
  margin-top: 2rem;
}

.social {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.portfolio {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-description {
  padding: 1rem;
  margin-top: 1rem;
}

.stats {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fa-eye {
  color: lightblue;
}

.fa-heart {
  color: red;
}
.fa-twitter {
  color: #00acee;
}

.fa-instagram {
  color: #8a3ab9;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.srch {
  cursor: pointer;
}
/* @media only screen and (max-width: 993px) {
  .row .col.l3 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
} */

@media only screen and (min-width: 601px) {
  .row .col.m4 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}
